<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no"/>

    <!-- 触发双核浏览器使用 chrome 内核 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>

    <link th:href="@{/static/images/index/pls_logo.jpg}" rel="icon" type="image/x-icon"/>
    <link th:href="@{/static/images/index/pls_logo.jpg}" rel="shortcut icon" type="image/x-icon"/>
    <link th:href="@{/static/images/index/pls_logo.jpg}" rel="bookmark" type="image/x-icon"/>

    <!--[if gte IE 9]-->
    <script th:src="@{/static/comp/jquery-2.1.4.js}"></script>
    <!--[endif]-->

    <!--[if lt IE 9]>
    <script th:src="@{/static/comp/html5shiv/html5shiv.min.js}"></script>
    <script th:src="@{/static/comp/respond/respond.min.js}"></script>
    <script th:src="@{/static/comp/jquery-1.11.3.js"></script>
    <![endif]-->

    <script th:src="@{/static/comp/bootstrap-3.3.5/dist/js/bootstrap.min.js}"></script>
    <link th:href="@{/static/comp/bootstrap-3.3.5/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/comp/magicsuggest-master/magicsuggest-min.css}" rel="stylesheet"/>
    <script th:src="@{/static/comp/magicsuggest-master/magicsuggest.js}"></script>
    <link th:href="@{/static/comp/icheck-1.x/skins/all.css}" media="all" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/comp/icheck-1.x/icheck.min.js}"></script>
    <link th:href="@{/static/comp/Font-Awesome-master/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/index/jquery.mailAutoComplete-4.0.css}" media="all" rel="stylesheet" type="text/css"/>
    <script th:src="@{/static/js/index/jquery.mailAutoComplete-4.0.js}"></script>

    <script th:src="@{/static/js/index/common.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/static/css/index/common_plan.css}"/>
    <script th:src="@{/static/js/index/sweet-alert.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/index/sweet-alert.css}"/>

    <script th:src="@{/static/js/index/moment.min.js}"></script>
    <script th:src="@{/static/js/index/zh-cn.js}"></script>
    <script th:src="@{/static/js/index/zlDate.js}"></script>
    <link th:href="@{/static/css/index/datepicker.css}" media="all" rel="stylesheet" type="text/css"/>

    <script th:src="@{/static/js/index/jquery.SuperSlide.2.1.1.js}"></script>

    <link th:href="@{/static/css/index/info.css}" media="all" rel="stylesheet" type="text/css"/>

    <title>仙贝旅行 - 【结伴拼车接机】关西国际机场-大阪市内单程接机</title>

</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
<!-- ==顶部== -->
<!-- Being: header -->
<link rel="stylesheet" th:href="@{/static/css/index/header.css}"/>
<div style="overflow: hidden;height: 0px;width: 0px;">
    <img alt="缩略图实验" th:src="@{/static/images/index/mm.jpg}"/>
</div>
<div class="header">
    <nav class="navbar navbar-default" role="navigation" style="margin: 0 30px;">
        <div class="head-bar">

            <div class="navbar-header">

                <h1 class="logo navbar-brand">
                    <a href="http://xianbei.cc/index.html">
                        <img th:src="@{/static/images/index/logo.png}" alt="仙贝旅行"/>
                    </a>
                </h1>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="header-search-bar pull-left hidden-xs">
                <!--=S 发布旅行计划=-->

                <input type="hidden" name="city" id="dests" value=""/>

                <form action="http://xianbei.cc/guide/list" id="form" method="POST">
                    <div class="search-box" style="background-color: #FFF;">
                        <div class="pub-ipt-city">

                            <input id="trip-place-h" name="dests[]" type="text" class="pub-ipt j_city form-control"
                                   placeholder="想去哪玩？"/>
                        </div>
                        <div class="submit-box" style="background-color: #fff;" onclick="submit()">
                            <img th:src="@{/static/images/index/fangdajing.png}" alt="查找"
                                 id="location_choose" class="header_img"/>
                        </div>
                    </div>
                    <div class="div_1" style="display: none;">
                        <div style="background-color:#f0f0f0;padding:7px 0 7px 15px;color:#777">热门旅行目的地</div>
                        <div class="div_2" style="border-top: 0px solid #e9e9e9;"><a
                                href="http://xianbei.cc/guide/list?city=13">
                            <div class="city"><span style="color:#666666">东京</span></div>
                        </a><a href="http://xianbei.cc/guide/list?city=40">
                            <div class="city center"><span style="color:#666666">富士山</span></div>
                        </a><a href="http://xianbei.cc/guide/list?city=46">
                            <div class="city"><span style="color:#666666">大阪</span></div>
                        </a></div>
                        <div class="div_2"><a href="http://xianbei.cc/guide/list?city=45">
                            <div class="city"><span style="color:#666666">京都</span></div>
                        </a><a href="http://xianbei.cc/guide/list?city=50">
                            <div class="city center"><span style="color:#666666">奈良</span></div>
                        </a><a href="http://xianbei.cc/guide/list?city=1">
                            <div class="city"><span style="color:#666666">北海道</span></div>
                        </a></div>
                        <div class="div_2"><a href="http://xianbei.cc/guide/list?city=69">
                            <div class="city"><span style="color:#666666">冲绳</span></div>
                        </a><a href="http://xianbei.cc/guide/list?city=31">
                            <div class="city center"><span style="color:#666666">箱根</span></div>
                        </a><a href="http://xianbei.cc/guide/list?city=48">
                            <div class="city"><span style="color:#666666">神户</span></div>
                        </a></div>
                        <div class="div_2"><a href="http://xianbei.cc/guide/list?city=42">
                            <div class="city"><span style="color:#666666">名古屋</span></div>
                        </a><a href="http://xianbei.cc/guide/list?city=76">
                            <div class="city center"><span style="color:#666666">九州</span></div>
                        </a>

                            <div class="city"><span style="color:#666666">&nbsp;</span></div>
                        </div>
                        <div class="citylines"></div>
                        <div style="text-align: center;height: 40px;line-height: 40px;border-top: 1px solid #e9e9e9;">
                            不确定去哪？我们为您<a href="http://xianbei.cc/plan/create" style="color:#ff5a5f">行程定制</a></div>
                    </div>
                </form>
                <!--=S 发布旅行计划=-->
            </div>

            <ul class="nav navbar-nav navbar-right pull-right text-center hidden-xs">

                <style>
                    .nav .header-div {
                        line-height: inherit;
                    }
                </style>
                <div id="function-btn" class="pull-right">
                    <div class="header-div">
	<span class="dropdown">
		<a data-toggle="dropdown" href="http://xianbei.cc/#">
            <img th:src="@{/static/images/index/user.png}" id="header-avatar" class="img-circle"/>
        </a>
		<a data-toggle="dropdown" href="http://xianbei.cc/#">
            <div id="header-username">/qz</div>
            <span class="caret"></span>
        </a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://xianbei.cc/plan/my.html"> 我的旅行计划 </a>
            </li>

            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://xianbei.cc/guideApplyFast"> 成为导游 </a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://xianbei.cc/logout"> 退出 </a></li>
        </ul>
	</span>&nbsp;
                        &nbsp;
                    </div>
                    <div class="header-div header-help" style="line-height: 45px;">
                        <a class="header-a" href="http://xianbei.cc/faq/1" id="help">帮助&nbsp;<i
                                class="fa fa-caret-down"></i></a>

                        <div class="help-list" style="display: none;">
                            <ul class="">
                                <li><a href="http://xianbei.cc/faq/1" style="color:#ff5a5f">访问帮助中心</a></li>
                                <li><a href="http://xianbei.cc/faq/1">关于仙贝旅行</a></li>
                                <li><a href="http://xianbei.cc/faq/2">如何定制行程？</a></li>
                                <li><a href="http://xianbei.cc/faq/3">成为仙贝的导游</a></li>
                                <li><a href="http://xianbei.cc/faq/4">费用说明</a></li>
                                <li><a href="http://xianbei.cc/faq/6">退款政策</a></li>
                            </ul>
                            <i class="top" style="left: 20px;"></i>
                        </div>
                    </div>
                    <script>
                        (function ($) {
                            $(function () {
                                $(".header-help").mousemove(function () {
                                    $(".help-list").show();
                                });
                                $(".header-help").mouseleave(function () {
                                    $(".help-list").hide();
                                })
                            });
                        })(jQuery);
                    </script>
                    <div class="header-div" style="line-height: 45px;">
                        <a href="http://xianbei.cc/plan/create" class="xb-btn-m-org">我要定制</a>
                    </div>
                </div>


            </ul>

            <div class="clearfix"></div>
        </div>

    </nav>
</div>
<div class="clearfix"></div>


<div class="modal fade in" id="login-panel" tabindex="-1" role="dialog" aria-labelledby="login-title"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="login-title">通过以下方式登录</h4>
            </div>

            <div class="row modal-body">
                <div class="col-md-12">
                    <span class="help-block user-pw-input">使用第三方平台账号登录</span>

                    <div class="text-center" style="padding:3px 0 20px 0">
                        <a href="http://xianbei.cc/openid/qq/login" class="btn btn-lg btn-primary"
                           style="width:130px;margin-right:8px;">
                            <i class="fa fa-qq"></i> QQ登陆
                        </a><a href="http://xianbei.cc/openid/weibo/login" class="btn btn-lg btn-danger"
                               style="width:130px">
                        <i class="fa fa-weibo"></i> 微博登陆
                    </a>
                    </div>
                </div>
                <hr/>
                <div class="col-md-12">

	            	<span class="help-block user-pw-input">
	            		<span>仙贝账号&nbsp;&nbsp;&nbsp;&nbsp;</span>
	            		<a aria-hidden="true" data-dismiss="modal" data-toggle="modal"
                           href="http://xianbei.cc/#register-panel"></a>
	            	</span>

                    <div class="clearfix"></div>
                    <form class="form-horizontal" role="form" method="post" action="http://xianbei.cc/login">
                        <fieldset>
                            <div class="input-group user-pw-input">
	                            <span class="input-group-addon"> <i class="glyphicon glyphicon-envelope"></i>
	                            </span>
                                <ul class="emailist"
                                    style="position: absolute; margin-top: 0px; visibility: hidden; z-index: 11;"></ul>
                                <input id="login-username" type="text" class="form-control" name="username"
                                       required="required" value="" placeholder="邮箱"/>
                            </div>
                            <div class="input-group user-pw-input">
	                            <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i>
	                            </span>
                                <input type="password" class="form-control" name="password" required="required"
                                       placeholder="密码"/>
                            </div>

                            <div class="input-group user-pw-input">
	                            <span class="button-checkbox">
	                                <div class="icheckbox_minimal-red checked" style="position: relative;"><input
                                            type="checkbox" class="iCheck" checked="true"
                                            style="position: absolute; opacity: 0;"/>
                                        <ins class="iCheck-helper"
                                             style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                    </div>记住登录状态</span>

                                <div class="pull-right"><a href="http://xianbei.cc/password/forget">忘记密码?</a></div>

                            </div>
                            <script type="text/javascript">
                                document.write('<input type="hidden" name="BackURL" value="' + window.location.href + '"/>');
                            </script>
                            <input type="hidden" name="BackURL" value="http://xianbei.cc/product/99"/>

                            <div class="form-group">
                                <div class="controls user-pw-btn">
                                    <button class="btn btn-danger form-control">登录</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <!-- end modal-body -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="register-panel" tabindex="-1" role="dialog" aria-labelledby="register-title"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="register-title">您可以通过以下方式注册！</h4>
            </div>

            <div class="row modal-body">
                <div class="col-md-12">
                    <span class="help-block user-pw-input">使用第三方平台账号登录</span>

                    <div class="text-center" style="padding:3px 0 20px 0">
                        <a href="http://xianbei.cc/openid/qq/login" class="btn btn-lg btn-primary"
                           style="width:130px;margin-right:8px;">
                            <i class="fa fa-qq"></i> QQ登陆
                        </a><a href="http://xianbei.cc/openid/weibo/login" class="btn btn-lg btn-danger"
                               style="width:130px">
                        <i class="fa fa-weibo"></i> 微博登陆
                    </a>
                    </div>
                </div>
                <hr/>
               <span class="help-block user-pw-input">
               		<span>使用邮箱注册仙贝账号&nbsp;&nbsp;&nbsp;&nbsp;</span>
            		<a href="http://xianbei.cc/password/forget">忘记密码?</a>
            	</span>

                <form class="form-horizontal" role="form" action="http://xianbei.cc/register" method="POST">
                    <fieldset>
                        <div class="input-group user-pw-input">
                            <span class="input-group-addon"> <i class="glyphicon glyphicon-envelope"> </i>
                            </span>
                            <ul class="emailist"
                                style="position: absolute; margin-top: 0px; visibility: hidden; z-index: 11;"></ul>
                            <input id="reg-username" type="text" class="form-control" name="email" value=""
                                   placeholder="邮箱"/>
                        </div>
                        <div class="input-group user-pw-input">
                            <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"> </i>
                            </span>
                            <input type="password" class="form-control" name="password" placeholder="密码" value=""/>
                        </div>
                        <div class="input-group user-pw-input">
                            <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"> </i>
                            </span>
                            <input type="password" class="form-control" name="password2" placeholder="重复密码" value=""/>
                        </div>
                        <div class="input-group user-pw-input">
                            <span class="input-group-addon"> <i class="glyphicon glyphicon-user"> </i>
                            </span>
                            <input value="" type="text" class="form-control" name="nickname"
                                   placeholder="昵称(中文12个字,英文24个字符以内)"/>
                        </div>
                        <div class="form-group">
                            <div class="controls user-pw-btn">
                                <button class="btn btn-danger form-control">
                                    快速注册
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <!--modal-footer-->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript">
    (function ($) {
        $('#reg-username').mailAutoComplete();
        $('#login-username').mailAutoComplete();

        $(function () {
            $("#form").mousemove(function () {
                $(".div_1").show();
            });
            $("#form").mouseleave(function () {
                $(".div_1").hide();
            })
        });
        var dests = $("#dests").val();
        $.ajax({
            url: "common/ajaxGuideDest",
            async: true,
            cache: false,
            global: false,
            dataType: "json",
            success: function (data) {

            }
        });


    })(jQuery);
    function selectCity(obj) {
        var name = $(obj).attr('name');
        var id = $(obj).attr('destid');
        $("#dests").val(id);
        $("#trip-place-h").val(name);
        $(".on").removeClass("on");
        $(obj).addClass("on");
    }
    function submit() {
        $('#form').submitForm();
    }
</script>
<!--Eng: header-->
<div class="container">
    <div id="middle">

        <div class="product-breadcrumb">

        </div>

        <div class="top-banner">
            <!-- 轮播图 -->


            <div id="slide-img">
                <div class="picFocus">
                    <div class="bd">
                        <div class="tempWrap" style="overflow:hidden; position:relative; width:960px">
                            <ul style="width: 960px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                                <li style="float: left; width: 960px;">
                                    <img data-original="http://img.xianbei.cc/product/99/LFk6y.jpg"
                                         th:src="@{/static/images/index/LFk6y.jpg}"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="hd">
                        <ul>
                            <li class="on">
                                <img data-original="http://img.xianbei.cc/product/99/LFk6y.jpg"
                                     th:src="@{/static/images/index/LFk6y.jpg}"/>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <script type="text/javascript">jQuery(".picFocus").slide({
                mainCell: ".bd ul",
                effect: "left",
                autoPlay: true
            });</script>
            <!-- // end -->

            <div class="top-right">
                <div style="height:202px;">

                    <div class="product-title">【结伴拼车接机】关西国际机场-大阪市内单程接机</div>

                    <div class="well-box">
                        <table>
                            <tbody>
                            <tr>
                                <td class="t">价格</td>
                                <td class="c">
										<span class="product-price">
											¥<span id="product-price">99</span>
												<span style="font-size:18px;color:#AAA;">/人</span>
										</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="t"><s>原价</s></td>
                                <td class="c">
										<span style="font-size:16px;color:#AAA;">
											<s>&nbsp;&nbsp;¥199&nbsp;</s>
										</span>

                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="product-labels">
                        <span class="product-label">大阪</span>
                    </div>

                </div>

                <div class="product-form">
                    <form>
                        <div class="form-group has-feedback has-feedback-left">
                            <input id="beginDate-1" class="form-control input-lg form-item" value="" type="text"
                                   placeholder="选择日期"/> <span class="form-control-feedback"><i
                                class="fa fa-calendar"></i></span>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <div class="form-group input-group input-group-lg has-feedback has-feedback-left">
                                <input id="metaNumber-1" name="metaNumber" value="" type="text"
                                       class="form-control input-lg" min="1" max="10" placeholder="请输入人数"/>
                                <input value="9" type="hidden" id="maxPeopleNum"/>
                                <span class="form-control-feedback" style="line-height:44px;">人数</span>
								      <span class="input-group-btn">
								        <button id="it-number-reduce" class="btn btn-default" type="button"
                                                style="border-left:none;width:46px;">-
                                        </button>
								      </span>
								      <span class="input-group-btn">
								        <button id="it-number-increase" class="btn btn-default" type="button"
                                                style="width:46px;">+
                                        </button>
								      </span>
                            </div>

                            <!--
                            <input id="metaNumber-1" class="form-control input-lg form-item" type="number" min="1" max="10" placeholder="人数"> <span class="form-control-feedback"><i class="fa fa-user-plus"></i></span>
                             -->
                        </div>

                        <button id="it-book-btn" data-toggle="modal"
                                class="btn btn-danger form-control form-item input-lg" type="button">立即预定
                        </button>
                    </form>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="bs-docs-sidebar">
            <ul class="tab nav affix-top" data-spy="affix" data-offset-top="680">
                <li class="active"><a href="http://xianbei.cc/product/99#about-price"
                                      data-target="#about-price">费用说明</a></li>
                <li><a href="http://xianbei.cc/product/99#about-traffic" data-target="#about-traffic">交通方式</a></li>
                <li><a href="http://xianbei.cc/product/99#about-route" data-target="#about-route">行程参考</a></li>
                <li><a href="http://xianbei.cc/product/99#about-book" data-target="#about-book">预定流程</a></li>
            </ul>
        </div>


        <!-- 费用说明 -->
        <div id="about-price" class="detail">
            <div class="detail-title">
                <img th:src="@{/static/images/index/icon-price.png}"/> 费用说明
            </div>
            <div class="detail-content">
                <table>
                    <tbody>
                    <tr>
                        <th align="left">费用包含：</th>
                    </tr>
                    <tr>
                        <td>1、车辆使用费</td>
                    </tr>
                    <tr>
                        <td>2、全程燃油费，高速费，停车费；</td>
                    </tr>
                    <tr>
                        <td>3、中文司兼导服务费；</td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table>
                    <tbody>
                    <tr>
                        <th align="left">费用不包含：</th>
                    </tr>
                    <tr>
                        <td>1、其他未标明事项，及游客个人消费；</td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table>
                    <tbody>
                    <tr>
                        <th align="left">补充说明：</th>
                    </tr>
                    <tr>
                        <td>1. 本产品需提前3天预定。
                        </td>
                    </tr>
                    <tr>
                        <td>2. 本产品为结伴拼车产品，会有其他游客一同搭乘（如果您希望自由调整，建议订购仙贝旅行的包车产品，一对一为您服务）；</td>
                    </tr>
                    </tbody>
                </table>
                <br/>

                <br/>
                <table>
                    <tbody>
                    <tr>
                        <th align="left">退订规则：</th>
                    </tr>
                    <tr>
                        <td>1、如因客人个人原因取消服务:</td>
                    </tr>
                    <tr>
                        <td>・提前72小时取消及更改，免收退改费；</td>
                    </tr>
                    <tr>
                        <td>・提前72小时（含）至48小时取消及更改，收取订单金额的50%作为违约金；</td>
                    </tr>
                    <tr>
                        <td>・提前48小时（含）取消及更改，收取订单金额的100%作为违约金。</td>
                    </tr>

                    <tr>
                        <td>2、不成团说明（成团人数为4人。若不满4人，仙贝旅行会取消行程不承担违约责任）：</td>
                    </tr>
                    <tr>
                        <td>・提前48小时取消服务，全额退款，不承担违约责任；</td>
                    </tr>
                    <tr>
                        <td>・提前48小时（含）至24小时取消服务，支付订单总额的15%作为违约金；</td>
                    </tr>
                    <tr>
                        <td>・提前24小时（含）以内取消服务，支付订单总额的30%作为违约金。</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr/>

        <!-- 交通方式 -->
        <div id="about-traffic" class="detail">
            <div class="detail-title">
                <img th:src="@{/static/images/index/icon-car.png}"/> 交通方式
            </div>
            <div class="detail-content">
                <table>
                    <tbody>
                    <tr>
                        <th align="left">基本信息：</th>
                    </tr>
                    <tr>
                        <td>・参考车型：丰田阿尔法</td>
                        <td>・车辆座位：8座</td>
                    </tr>
                    <tr>
                        <td>・建议乘坐：6人</td>
                        <td>・建议行李：6件</td>
                    </tr>
                    <tr>
                        <td>・服务人员：华人司兼导</td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table>
                    <tbody>
                    <tr>
                        <th align="left">补充说明：</th>
                    </tr>
                    <tr>
                        <td>1、具体车型以实际用车为主。参考车型：8座丰田阿尔法或同级。10做海狮或同级。</td>
                    </tr>
                    <tr>
                        <td>2、儿童与成人价格相同，本产品暂不接受2周岁以内婴儿预定。</td>
                    </tr>
                    <tr>
                        <td>3、由于结伴拼车机场接机，出发时间固定。</td>
                    </tr>
                    <tr>
                        <td>4、司机会在机场等待，请您根据与司机约定时间，准时在指定地点等候。</td>
                    </tr>
                    <tr>
                        <td>5、如因游客自身原因迟到，导致影响其他游客行程，司机有权拒绝等待，或不提供服务。此种情况，责任自负，概不退款。</td>
                    </tr>
                    <tr>
                        <td>6、因多个航班客户共享使用本产品，如有航班延误，请提前告知仙贝，我们将会为您另行安排车辆。如无任何联络，且超时60分钟以上，将默认放弃本次服务。</td>
                    </tr>
                    <tr>
                        <td>7、拼车产品，每人限带1件大行李（24寸行李箱），如因行李过多而导致司机拒载，概不承担责任。</td>
                    </tr>
                    </tbody>
                </table>
                <br/><br/>
                <img th:src="@{/static/images/index/dpxHB.jpg}" border="1"/></div>
        </div>
        <hr/>

        <!-- 行程参考 -->
        <div id="about-route" class="detail">
            <div class="detail-title">
                <img th:src="@{/static/images/index/icon-point.png}"/> 行程参考
            </div>
            <div class="detail-content">
                <ul class="route-line">

                    <li class="day">
							<span class="route-icon">
								<i class="fa fa-map-marker"></i>
							</span>
                        <b>Day 1</b>
                    </li>
                    <li class="traffic">关西国际机场接送机</li>
                    <li class="sence">
							<span class="route-icon">
								<i class="fa fa-plane"></i>
							</span>
                        每日下午14点发
                        <br/>
                        <br/>
                        建议航班时间12:30前抵达的乘客预订.

                        <br/>
                        <img data-original="http://img.xianbei.cc/product/99/OUBL5.jpg"
                             th:src="@{/static/images/index/OUBL5.jpg}"/>

                        <div class="clearfix"></div>
                    </li>
                    <li class="sence">
							<span class="route-icon">
								<i class="fa fa-plane"></i>
							</span>
                        每日下午19点发
                        <br/>
                        <br/>
                        建议航班时间17:30前抵达的乘客预订。
                        <br/>
                        <img data-original="http://img.xianbei.cc/product/99/WxVkM.jpg"
                             th:src="@{/static/images/index/WxVkM.jpg}"/>

                        <div class="clearfix"></div>
                    </li>


                </ul>
            </div>
        </div>
        <hr/>

        <!-- 导游介绍 -->


        <!-- 预约方式 -->
        <div id="about-book" class="detail">
            <div class="detail-title">
                <img th:src="@{/static/images/index/icon-info.png}"/> 预定流程
            </div>
            <div class="detail-content">
                <img style="width: 65%;" th:src="@{/static/images/index/book-way.png}"/>
            </div>
        </div>

        <div class="clearfix"></div>

        <!--middle-->
    </div>
</div>
<link rel="stylesheet" href="http://xianbei.cc/res/css/footer.css?v=20150914"/>
<div id="footer">
    <div style="width:0px;height:0px;overflow:hidden;"><img th:src="@{/static/images/index/logo-l.png}"/>
    </div>
    <!-- weixin缩略图 -->
    <div class="footer-hd">
        <div class="layout">
            <div class="col-md-12">
                <span><a href="http://www.wenjuan.com/s/BZ73yqd/" target="_blank" class="btn"
                         style="padding-left:25px;padding-right:25px;background-color:#262626;color:#fff">意见反馈</a></span>
                &nbsp;&nbsp;&nbsp;
                <span style="color:#FF5A5F">客服微信：xianbei06 </span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="footer-bd">
        <div class="layout">

            <div class="links">
                <div class="col-md-5 col-sm-5" style="width: 386px;">
                    <div style="">
                        <div id="fa-telphone400"></div>
                        <div style="height:45px;line-height:45px;float:left;font-size:28px;color:#DDD;font-weight:600">
                            客服热线
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div style="font-size:20px;padding:5px 0;color:#DDD;text-align: left;">
                        <img th:src="@{/static/images/index/dianhua.png}"/>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2" style="width: 156px;">
                    <p class="title">公司信息</p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/faq/1">关于我们</a></p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/faq/5">用户协议</a></p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/faq/1#contact">联系我们</a></p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/faq/10">友情链接</a></p>
                </div>


                <div class="col-md-2 col-sm-2" style="width: 156px;">
                    <p class="title">帮助中心</p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/plan/intro">预定流程</a></p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/faq/4">费用说明</a></p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/faq/6">退款政策</a></p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/guideApplyFast">成为导游</a></p>
                </div>
                <div class=" col-md-2 col-sm-2" style="width: 156px;">
                    <p class="title">服务支持</p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/plan/create">行程定制</a></p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/product/list?labels=3">包车畅游</a></p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/product/list?labels=8">机场接送</a></p>

                    <p class=""><a target="_blank" href="http://xianbei.cc/product/list.html">精品套餐</a></p>
                </div>

                <div class=" col-md-3 col-sm-3" style="width: 122px;">
                    <!--  -->
                    <div class="pull-right">
                        <p style="text-align: center;">微信公众号</p>
                        <img style="width:90px" th:src="@{/static/images/index/qr.jpg}"/>
                    </div>
                </div>


                <div class="clearfix"></div>

            </div>
            <div class="links" align="center" style="height: 82px;">
                <a href="javascript:void(0)" style="z-index: 898989;">
                    <img class="weixinimg" th:src="@{/static/images/index/erweima.png}"
                         style="display: none;"/>

                    <div class="foot_img weixin showweixin">
                    </div>
                </a>
                <a target="_blank" href="http://www.weibo.com/u/5269383334">
                    <div class="foot_img weibo">
                    </div>
                </a>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&;uin=2404439334&;site=qq&;menu=yes">
                    <div class="foot_img qq">
                    </div>
                </a>
            </div>
            <div class="links" style="border-top: 0px solid #666;padding-top: 5px;">
                <!--
                    <div class="col-md-12" style="color:#999">
                        友情链接：<a style="color:#999" title="日本酒店预订" target="_blank" href="http://travel.rakuten.cn/?scid=we_xbe_hp0001">日本酒店预订</a>&nbsp<a style="color:#999" title="台湾民宿" target="_blank" href="http://minsu.taiwandao.tw">台湾民宿</a>&nbsp<a style="color:#999" title="韩国自由行" target="_blank" href="http://www.zaiseoul.com">韩国自由行</a>&nbsp<a style="color:#999" title="韩你玩" target="_blank" href="http://www.hanniwan.com">韩国民宿</a>&nbsp
                    </div>
                     -->
                <div class="col-md-12">
                    <div class="text-center" style="margin-left: 116px;">© xianbei.Co.,Ltd.
                        <div class="pull-right" style="color:#777">京ICP备15004700号</div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="pull-left" style="display:none">
        Ver 0.0.9-SNAPSHOT-9427899 on X.2
    </div>


    <div class="pull-right" style="display:none">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1253068454'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253068454%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>
        <span id="cnzz_stat_icon_1253068454"><a href="http://www.cnzz.com/stat/website.php?web_id=1253068454"
                                                target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0"
                                                                                  th:src="@{/static/images/index/pic2.gif}"/></a></span>
        <script th:src="@{/static/js/index/z_stat.php}" type="text/javascript"></script>
        <script th:src="@{/static/js/index/core.php}" charset="utf-8" type="text/javascript"></script>
    </div>

</div>

<script>
    $(function () {
        $(".nav3").mousemove(function () {
            $(".nav3-list").show();
        }).mouseleave(function () {
            $(".nav3-list").hide();
        });
        $(".nav2").click(function () {
            var width = Math.round((window.screen.width - 800) / 2);
            var height = Math.round((window.screen.height - 600) / 2);
        });
    });
</script>


<div id="book-model" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="book-model-head">
                提交订单
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="book-form" action="http://xianbei.cc/product/99/book" method="POST">

                <input type="hidden" name="productId" value="99"/>

                <div class="form-group has-feedback has-feedback-left">
                    <span id="beginDate-txt" class="form-control form-item input-lg" style="border:none;"></span> <span
                        class="form-control-feedback">出发日期</span>

                    <input id="beginDate-2" name="beginDate" type="hidden" value="" placeholder="请选择日期"/>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <span id="metaNumber-txt" class="form-control form-item input-lg" style="border:none;"></span>
                    <span class="form-control-feedback">人数</span>

                    <input id="metaNumber-2" name="metaNumber" value="" type="hidden"/>

                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input name="realname" class="form-control form-item input-lg" value="" type="text"
                           placeholder="请输入姓名"/> <span class="form-control-feedback">联系人</span>

                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input name="mobile" class="form-control form-item input-lg" value="" type="text" placeholder="请输入"/>
                    <span class="form-control-feedback">手机号</span>

                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input name="weixin" class="form-control form-item input-lg" value="" type="text"
                           placeholder="QQ、微信可2选1"/> <span class="form-control-feedback">微信</span>

                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input name="qq" class="form-control form-item input-lg" value="" type="text"
                           placeholder="QQ、微信可2选1"/> <span class="form-control-feedback">QQ</span>

                </div>

                <div class="form-group" style="margin-top:8px;">
                    <textarea name="remark" class="form-control form-item" style="border: 1px solid #ccc;padding:15px"
                              placeholder="备注"></textarea>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-danger submit-btn input-lg" type="submit">立即预定</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script th:src="@{/static/js/index/detail.js}"></script>


<div>
    <div class="sweet-overlay" tabindex="-1"></div>
    <div class="sweet-alert" tabindex="-1">
        <div class="icon error"><span class="x-mark"><span class="line left"></span><span
                class="line right"></span></span></div>
        <div class="icon warning"><span class="body"></span> <span class="dot"></span></div>
        <div class="icon info"></div>
        <div class="icon success"><span class="line tip"></span> <span class="line long"></span>

            <div class="placeholder"></div>
            <div class="fix"></div>
        </div>
        <div class="icon custom"></div>
        <h2>Title</h2>

        <p>Text</p>
        <button class="cancel" tabindex="2">Cancel</button>
        <button class="confirm" tabindex="1">OK</button>
    </div>
</div>
</body>
</html>